.alignMe b {
    display: inline-block;
    width: 50%;
    position: relative;
    padding-right: 10px; /* Ensures colon does not overlay the text */
  }
  
  .alignMe b::after {
    content: ":";
    position: absolute;
    right: 10px;
  }

  ul {
    list-style: none;
    display: table;
  }
  
  li {
    display: table-row;
    font-family: fixedsys, monospace;
  }
  
  b {
    display: table-cell;
    padding-right: 1em;
    margin-right: 4px;
  }